/* don't use px, use rem  */
/* placeholder.com */
/* if it is a class, use dot
/* if it is an id, use #
/* if it is an html element, then you don't need either infront of it

*/

/* skeletoncss 
cdn

/* border boxing */

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #807d27;
    padding-left: 10px;
    /* consider padding-top: 2rem; as an example */
}

.nav {
  /* overflow: hidden; */
  background-color: #cb9d6f;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

.morelsLogo {
  height: 210px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 4px groove #956441;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link {
  /* float: left; */
  color: #f8f1ea;
  background-color: #1f321a;
  text-align: center;
  padding: 14px 16px;
  margin-top: 10px;
  margin-right: 7px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  
  /* display: flex; */
  height: 60px;
/* flex-direction: row; */

  /* 
  order: "integer";
  align-items: flex-start; */

  width: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #254e0b;
}

.link-button {
  display: flex;
}

/* .nav-right {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    float: left;
  font-size: 17px;
} */

#main {
  transition: margin-left .5s;
  padding: 20px;
}


